:root {
  /* Couleurs */
  --color-white: hsl(0, 0%, 100%);
  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-brown-800: hsl(14, 45%, 36%);
  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-500: hsl(330, 100%, 98%);

  /* Typographie */
  --font-size-paragraph: 16px;
  --font-size-title: 36px;

  /* Ligne de séparation */
  --color-separator: var(--color-stone-150);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

/* Font-face */
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Young Serif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Body */
body {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  font-size: var(--font-size-paragraph);
  font-weight: 400;
  background-color: var(--color-stone-100);
}

hr {
  border: none;
  border-top: 1px solid var(--color-separator);
}

.recipe__image {
  height: 300px;
  overflow: hidden;
  border-radius: 12px; 
}

.recipe__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Recipe content */
.recipe__content {
  display: grid;
  row-gap: 32px;
  padding: 40px 32px;
}

/* Recipe Introduction */
.recipe__intro {
  display: grid;
  row-gap: 24px;
}

.recipe__title {
  font-family: 'Young Serif', serif;
  font-size: var(--font-size-title);
  color: var(--color-stone-900);
  line-height: 1;
}

.recipe__description {
  color: var(--color-stone-600);
  line-height: 1.5;
}

/* Recipe Time Preparation */
.recipe__time {
  display: grid;
  row-gap: 16px;
  padding: 24px;
  background-color: var(--color-rose-500);
  border-radius: 12px;
}

.recipe__time-title {
  font-weight: 600;
  font-size: 20px;
  color: var(--color-rose-800);
}

.recipe__time-list {
  display: grid;
  row-gap: 8px;
}

/* Time Item */
.recipe__time-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 8px;
  color: var(--color-stone-600);
}

.recipe__step-puce {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: var(--color-rose-800);
}

.recipe__step-title {
  font-weight: 700;
}

/* Recipe Ingredients */
.recipe__ingredients {
  display: grid;
  row-gap: 24px;
}

.recipe__section-title {
  font-family: 'Young Serif', serif;
  font-size: 28px;
  color: var(--color-brown-800);
  line-height: 1;
}

.recipe__ingredients-list {
  display: grid;
  row-gap: 8px;
}

.recipe__ingredients-item {
  display: flex;
  align-items: center;
  padding-left: 8px;
  line-height: 1.5;
  color: var(--color-stone-600);
}

/* Recipe Instructions */
.recipe__instructions {
  display: grid;
  row-gap: 24px;
}

.recipe__steps {
  display: grid;
  row-gap: 8px;
}

.recipe__step {
  display: flex;
  padding-left: 8px;
  color: var(--color-stone-600);
}

.recipe__step-number {
  width: 16px;
  margin-right: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--color-brown-800);
}

/* Recipe Nutrition */
.recipe__nutrition {
  display: grid;
  row-gap: 24px;
}

.recipe__nutrition-info {
  color: var(--color-stone-600);
}

.recipe__nutrition-table {
  border-collapse: collapse;
  width: 100%;
}

.recipe__nutrition-row {
  border-bottom: 1px solid var(--color-stone-150); 
}

.recipe__nutrition-row:last-child {
  border-bottom: none;
}

td {
  padding: 12px 32px;
  text-align: left;
}

.recipe__nutrition-value {
  font-weight: 700;
  color: var(--color-brown-800);
}

/* Footer */
.footer__attribution { 
  text-align: center; 
  color: var(--color-stone-600);
  padding: 8px;
}

.footer__attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* Mobile */
@media screen and (max-width: 767px) {
  body {
    background-color: var(--color-white);
  }
  .recipe__image {
    height: 200px;
    border-radius: 0; 
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body, .recipe {
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .recipe {
    width: 616px;
    border-radius: 24px;
    padding: 40px;
    margin: 128px 0;
    background-color: var(--color-white);
  }

  .recipe__title {
    font-size: 40px;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  body, .recipe {
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .recipe {
    width: 736px;
    border-radius: 24px;
    padding: 40px;
    margin: 128px 0;
    background-color: var(--color-white);
  }

  .recipe__title {
    font-size: 40px;
  }
}
